<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP56_via_FastCGI" />
            <remove name="PHP53_via_FastCGI" />
        </handlers>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="false" />
    </system.web>
</configuration>
