.navbar {
	display block;
	background-color: #333;
	font-family: Verdana;
	padding: 0.5em;
}

.navbar a {
	background-color: #999;
	color: #fff;
	padding: 0.2em;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #666;
	padding: 0.5em 0.2em 0.5em 0.2em
}

.withBorder ,td ,th {
	border: 1px solid #E6E7E9;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 1px;
}
.noBorder {
	border: none;
}
